:root {
    --S1: #DEE33E;
    --S2: #9FA324;
    --S3: #000000;
    --S4: #FFFFFF;
    --gray: #718096;
  }
*{
    padding: 0;

    border: none;
}

body{
    background-color: var(--S1);
    display: flex;
    justify-content: center;
}

.logo__container{
    display: flex;
    justify-content: center;
}

.logo{
    position: absolute;
    width: 144.44px;
    height: 76.89px;
}

.title{
    position: absolute;
    font-weight: 600;
    size: 33.67px;
    line-height: 42.42px;
}

